[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
target-csv = {editable = true, git = "https://github.com/nehiljain/target-csv.git"}
tap-jotform = {editable = true, path = "."}

[requires]
python_version = "3.8"
